.modal {
  border-radius: 40px;
  background-color: rgba(0, 0, 0);
  padding: 40px 40px 60px;
  &::backdrop {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
.text {
  color: white;
}
.close_icon {
  display: block;
  position: absolute;
  background: None;
  border: None;
  outline: None;
}
.backdrop {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
}
