.totals {
  display: flex;
  flex-direction: column;
  padding: 0px 100px;
}
.totalAll {
  text-align: left;
}
.totalToday {
  text-align: left;
}
.workings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}
.ordersDone {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 300px;
  gap: 10px;
}
.orderNumber {
  color: aqua;
}
