.title {
  display: flex;
  justify-content: space-between;
}
.pictures {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}
.picture {
  display: flex;
  border: 1px;
  border-color: blueviolet;
  border-style: solid;
  border-radius: 100px;
  background-color: black;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin-left: -20px;
}
.img {
  width: 100px;
}
.windowOrder {
  background-color: rgb(35, 34, 34);
  padding: 20px;
  border-radius: 20px;
  max-width: 500px;
}
.summ {
  display: flex;
  justify-content: right;
}
.imgSumm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hanter {
  display: flex;
  justify-content: center;
  position: absolute;
  backdrop-filter: blur(1.2px);
  border: 1px;
  border-style: solid;
  border-color: blueviolet;
  border-radius: 100px;
  align-items: center;
  width: 50px;
  height: 50px;
}
.endPicture {
  display: flex;
  border: 1px;
  border-color: blueviolet;
  border-style: solid;
  border-radius: 100px;
  background-color: black;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin-left: -20px;
}
