.title{
    display: flex;
    justify-content: space-between;
}
.pictures{
    display: flex;
    flex-direction: row;
}
.picture{
    display: flex;
    border: 1px;
    border-color: blueviolet;
    border-style:solid;
    border-radius: 100px;
    background-color:black;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    margin-left: -20px;
    
}
.img{
    width:100px;
}